* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* 横（x軸）スクロールバーを消す */
body {
  overflow-x: hidden;
}
/* /横（x軸）スクロールバーを消す */
.main-span {
  color: firebrick;
  background: linear-gradient(transparent 85%, #c1e0ff 85%);
  font-weight: bold;
}

.main-font {
  font-family: "Pattaya", sans-serif;
}

.sub-font {
  font-family: "Shippori Mincho B1", serif;
}

.main-border {
  background: linear-gradient(transparent 70%, #ffff00 0%);
}

.sub-border {
  background: linear-gradient(transparent 70%, #469adf 0%);
}

header {
  background-color: rgb(195, 219, 195);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 2;
  width: 100%;
  height: 100px;

  .general_header {
    display: flex;
    justify-content: space-around;

    img {
      width: auto;
      height: 100px;
    }

    .main-logo {
      margin-right: auto;

      img {
        padding: 15px;
        margin-left: 30px;
      }
    }
  }

  .shop-phone {
    padding-right: 20px;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */

    p {
      margin-bottom: 0;
    }
  }

  .main-sns_list {
    display: flex;
    padding-right: 20px;

    img {
      display: inline-block;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-top: 20px;
    }

    li a:hover {
      background: none;
    }
  }

  .contact {
    width: 170px;
    height: 100px;
    text-align: center;
    display: inline-block;
    line-height: 100px;

    p {
      width: 100%;
      height: 100%;
      background-color: darkgrey;
      margin-bottom: 0;
      font-family: "M PLUS Rounded 1c", sans-serif;
      &:hover {
        color: darkgrey;
        background-color: #469adf;
        transition: 0.3s;
      }
    }
  }

  .sp-menu_drawer {
    display: none;
  }
}

// プルダウンメニュー
.dropdwn {
  max-width: 1200px;
  display: flex;
  padding: 0;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  color: #fff;
}

li {
  max-width: calc(1200px / 5);
  position: relative;
  padding: 5px;
  display: block;
  cursor: pointer;
}

.dropdwn > li {
  width: 1200px;
  margin: 1px;
  background: #484849;
  display: inline;
}

.dropdwn_menu {
  width: 100%;
  display: none;
  position: absolute;
  margin-left: -5px;
  margin-top: 5px;
  padding: 0;
  background: rgb(142, 145, 161);
}

.dropdwn_menu li {
  width: 100%;
}

.dropdwn_menu li a {
  padding: 5px 0;
  margin: -5px 5px -5px -5px;
  display: block;
  color: #fff;
  margin: 0 auto;
}

li a:hover {
  background: #d13c55;
  color: rgb(65, 65, 65);
}
// /プルダウンメニュー

// main
// main
// main
.video-wrap {
  margin-top: 220px;
  text-align: center;

  .video_messeg {
    p {
      background-color: rgba(85, 107, 47, 0.3);
      padding: 20px;
      margin: 50px 30px 0;
      font-weight: bold;
      font-family: "Shippori Mincho B1", serif;
    }
  }

  .precautionary-statement {
    p {
      font-size: 2rem;
    }
  }
}

.container {
  margin-top: 80px;
  text-align: left;
  h2 {
    display: inline-block;
    margin-bottom: 0;
  }
}

.first-section_comment_wrap {
  p {
    display: inline;
    font-weight: bold;
  }
  display: flex;
  justify-content: space-around;
}

.first-section_comment {
  position: relative;
  top: 15px;
}

.c-basic_section_introduction_text {
  padding: 50px;
}

.see-more {
  text-align: center;
  margin-bottom: 100px;

  a {
    display: block;
    color: rgb(172, 171, 171);
    line-height: 50px;
    &:hover {
      color: rgb(230, 109, 109);
      transition: 0.3s;
      font-weight: bold;
    }
  }

  p {
    margin: 0 auto;
    width: 150px;
    height: 50px;
    background-color: lightcyan;
    border: lightgray 3px solid;
    border-radius: 10px;
    &:hover {
      background-color: rgb(72, 235, 235);
      transition: 0.3s;
    }
  }
}

// お知らせ
#news_wrap {
  text-align: center;
  margin: 150px auto 70px;
}

.news_wrap-deteles {
  width: 960px;
  height: auto;
  margin: 50px auto 100px;

  .news_wrap-deteles-item {
    display: flex;
    border-bottom: #484849 1px solid;
    margin: 40px 0;

    p {
      padding-left: 200px;
      margin-bottom: 0;
      position: relative;
      top: 5px;
    }
  }
}

// /お知らせ

// /main
// /main
// /main

// footer
// footer
// footer
footer {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgb(206, 206, 206);

  #footerID {
    display: flex;
    justify-content: space-between;
  }

  .footer-main-wrap {
    padding: 50px 50px 10px;
  }

  .footer-address {
    img {
      padding: 15px 0;
    }
    p {
      margin-bottom: 5px;
      padding-left: 15px;
    }
    a {
      padding-left: 15px;
    }
  }

  .footer-sns_list {
    display: flex;
    padding-right: 20px;
    margin-top: 10px;

    li a:hover {
      background: none;
    }
  }

  .footer-sitemap-list {
    width: 100%;
    padding: 100px 120px;
    display: flex;
    justify-content: space-around;

    h3 {
      margin-bottom: 30px;
      font-size: 1.5rem;
      font-family: "Shippori Mincho B1", serif;
    }

    .footer-home {
      padding: 0 20px;
    }

    .footer-whatis {
      padding: 0 20px;
    }

    .footer-menu {
      padding: 0 20px;
    }

    .footer-news {
      padding: 0 20px;
    }

    .footer-reservation {
      padding: 0 20px;
    }
  }
}

// /footer
// /footer
// /footer
